<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foca_mobile">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foca_mobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.admin.order.OrderManagement"
            android:exported="false" />
        <activity
            android:name=".activity.user.profile.settings.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar." />
        <activity
            android:name=".activity.user.home.infofood.InfoFood_Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar." />
        <activity
            android:name=".activity.user.home.orderfood.OrderFood_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.authen.forgotpass.SuccessSetPassScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.forgotpass.SetNewPassScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.forgotpass.VerifiPassScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.forgotpass.ForgotPassScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.signup.SuccessCreateAccountScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.signup.BioScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.signup.VerifiAccountScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.signup.SignupScreen"
            android:exported="false" />
        <activity
            android:name=".activity.authen.login.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".activity.user.notifi.user_notifi"
            android:exported="false" />
        <activity
            android:name=".activity.admin.notifi.admin_notifi"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>